- if flash[:notice]
  #flash
    = flash[:notice]

#banner
  %p Welcome to Delinquent Coder. Go ahead. Snoop around.
  = link_to image_tag('delinquent_coder_banner.jpg'), root_path

#login
  %p
    - if session[:github]
      %p
        = link_to "Logout", github_logout_path
    - else
      = link_to "Login with Github", github_auth_path
#main
  %p
    - if session[:github] # logged in, fix this later
      -#= session[:github].as_json if session[:github]
      = render 'repos/new_documents_repo'
